<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>CIS 550 Project Team XYZH</title>
	<!-- Bootstrap CSS -->
	<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- JQuery -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    
    <!-- Bootstrap J -->
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  
  <body>
  	<nav class="navbar navbar-default">
		<div class="container">
	        <div class="navbar-header">
	            <a class="navbar-brand">CIS 550 Project Team XYZH</a>
	        </div>
	        <ul class="nav navbar-nav">
		        <li><a href="/">Home</a></li>
	   	        <li><a href="/find">Find Movies</a></li> 
		        <li class="active"><a href="/references">References</a></li>
	        </ul>
    	</div>
	</nav>
	
	<div class="container">
		<div class="bs-docs-section">
	        <div class="page-header">
	          <div class="row">
	            <div class="col-lg-4 col-lg-offset-4">
	            	<h1>References</h1>
	            </div>
	          </div>
	        </div>
	        
	        <div class="bs-component">
				<div class="row">
				  <h2>Node.js<br><a href="https://nodejs.org/en/" target="_blank">https://nodejs.org/en/</a></h2>
				  <h2>async<br><a href="https://github.com/caolan/async" target="_blank">https://github.com/caolan/async</a></h2>
		  		  <h2>jQuery<br><a href="https://jquery.com/" target="_blank">https://jquery.com/</a></h2>
                  <h2>Bootstrap<br><a href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a></h2>
                  <h2>bootswatch<br><a href="http://bootswatch.com/" target="_blank">http://bootswatch.com/</a></h2>
                  <h2>typeahead<br><a href="https://twitter.github.io/typeahead.js/" target="_blank">https://twitter.github.io/typeahead.js/</a></h2>
                  <h2>Arbor.js<br><a href="http://arborjs.org/" target="_blank">http://arborjs.org/</a></h2>
                  <h2>Facebook Developers<br><a href="https://developers.facebook.com/" target="_blank">https://developers.facebook.com/</a></h2>
                  <h2>Bing Search API<br><a href="https://datamarket.azure.com/dataset/bing/search" target="_blank">https://datamarket.azure.com/dataset/bing/search</a></h2>
			    </div>
	    	</div>
		</div>	
	</div>

  </body>
</html>
